main{
    display: grid;
    justify-content: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
body{
    background-color: #181818;
}

.perfil{
    text-align: center;
}
h1{
    font-family: prueba;
    text-align: center;
}
.contenedor{
    background-color: #333333;
    padding: 10px 10px 120px 10px;
    border-radius: 25px;
    margin-top: 15px;
}
.nombre{
    
    background: linear-gradient(rgb(250, 151, 3),rgb(176, 212, 12));
    -webkit-background-clip: text;
    color: transparent;  
}
.esfera{
    margin-top: 15px;
    margin-inline: auto;
    background-color: black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.links{
    font-family: prueba;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 15px;
    align-items: center;

}
.btn{
    border-radius:15px;
    border: solid 3px;
    margin: auto;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    border-color:#00ffff;

    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,255,255,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,255,255,1);
    box-shadow: 0px 0px 4px 1px rgba(0,255,255,1);

    &&:hover{
        transition: all;
        transition-duration: 500ms;
        background-color: aqua;
        color: black;
    }

}

.btn2{
    border-image: linear-gradient(to right , #0066ff, #ff32d6) 1 1 1 1 ;
    border-style: solid;
    /* border-radius: 25px; */
    border-width: 2px;
    width: 70%;
    font-family: prueba;
    color: white;
    text-decoration: none;

    &&:hover{
        transition: all;
        transition-duration: 500ms;
        background-color:whitesmoke;
        color: black;
    }
}
@font-face {
    font-family: prueba;
    src: url(./font/Hey\ Comic.ttf);

    /* font-family: prueba2;
    src: url(./font/Comfy\ Feeling.otf); */
}
@font-face {
    font-family: prueba2;
    src: url(./font/Comfy\ Feeling.otf);
}