main{
    display: grid;
    justify-content: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
body{
    background-color: #181818;
}

.perfil{
    text-align: center;
}
h1{
    font-family: prueba;
    text-align: center;
}
.contenedor{
    background-color: #333333;
    padding: 10px 10px 30px 10px;
    border-radius: 25px;
    margin-top: 15px;
}
.nombre{
    
    background: linear-gradient(rgb(250, 151, 3),rgb(176, 212, 12));
    -webkit-background-clip: text;
    color: transparent;  
}
.esfera{
    margin-top: 15px;
    margin-inline: auto;
    background-color: black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.links{
    font-family: prueba;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 25px;
    align-items: center;

}
.btn3{
    /* border-image: linear-gradient(to right , #ffffff, #000000) 1 1 1 1 ; */
    background-color: #333333;
    box-shadow: 3px 3px 0px 4px rgb(10, 10, 10);  
    /* border-style: solid; */
    border-radius: 25px;
    /* border-width: 2px; */
    width: 70%;
    font-family: prueba;
    font-weight: normal;
    color: white;
    text-decoration: none;

    &&:hover{
        transition: all;
        transition-duration: 250ms;
        /* background-color:whitesmoke; */
        box-shadow: 0px 0px 0px 4px rgb(10, 10, 10);
        transform: translateY(3px);
        /* color: black; */
    }
}
@font-face {
    font-family: prueba;
    src: url(./font/Hey\ Comic.ttf);
}
